<!-- Navigation incluse directement ici -->
<!-- <nav class="navbar">
  <a routerLink="/acceuil" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
  <a routerLink="/login" routerLinkActive="active">Réservation</a>
</nav> -->

<app-navbar></app-navbar>

<!-- Contenu de l'accueil -->
<div class="acceuil">
  <h1>Bienvenue sur l'application de réservation de terrains</h1>
  <p>Cette application vous permet de réserver facilement des terrains pour vos activités sportives.</p>
</div>

<!-- Outlet pour les composants chargés par les routes -->
<router-outlet></router-outlet>
