<div class="container py-4">
  <h2 class="mb-4 text-center text-primary">Réservations des Gymnases</h2>

  <div *ngIf="gymnasiumReservations.length === 0" class="alert alert-warning text-center">
    Aucune réservation de gymnase trouvée.
  </div>

  <div *ngIf="gymnasiumReservations.length > 0">
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date Début</th>
          <th>Date Fin</th>
          <th>Gymnase</th>
          <th>Réservé par</th>
          <th>Action</th> <!-- Colonne pour la suppression -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of gymnasiumReservations">
          <td>{{ reservation.startDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ reservation.endDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ reservation.gymnasium?.name }}</td>
          <td>{{ reservation.reservedBy }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
