<div class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <h2>Connexion</h2>

    <div class="form-group">
      <label for="email">Email :</label>
      <input id="email" [(ngModel)]="loginRequest.email" name="email" type="email" required />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input id="password" [(ngModel)]="loginRequest.password" name="password" type="password" required />
    </div>

    <button type="submit" [disabled]="!loginRequest.email || !loginRequest.password">Se connecter</button>
  </form>

  <!-- Message de retour -->
  <p *ngIf="message" class="message">{{ message }}</p>

  <a routerLink="/signup" routerLinkActive="active">Créer un compte</a>
</div>
